{% extends 'base.html' %}

{% block title %} About {% endblock %}

{% block content %}

<section class="section-padding section-bg" id="section_2">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                <img src="/static/images/group-people-volunteering-foodbank-poor-people.jpg" class="custom-text-box-image img-fluid" alt="">
            </div>

            <div class="col-lg-6 col-12">
                <div class="custom-text-box">
                    <h2 class="mb-2">Our Story</h2>

                    <h5 class="mb-3">Kind Heart Charity, Non-Profit Organization</h5>

                    <p class="mb-0">At Kind Heart Foundation, we believe in the transformative power of kindness. Every action, every donation, and every volunteer hour contributes to building a brighter, more compassionate world.</p>
                </div>
                
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="custom-text-box mb-lg-0">
                            <h5 class="mb-3">Our Mission</h5>

                            <p>Striving for Meaningful Impact and Compassionate Outreach</p>

                            
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="custom-text-box d-flex flex-wrap d-lg-block mb-lg-0">
                            <div class="counter-thumb"> 
                                <div class="d-flex">
                                    <span class="counter-number" data-from="1" data-to="2009" data-speed="1000"></span>
                                    <span class="counter-number-text"></span>
                                </div>

                                <span class="counter-text">Founded</span>
                            </div> 

                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


{% include 'includes/footer.html' %}

{% endblock %}