{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Cheerful Chirp Platform | {% block title %} {% endblock %}</title>

        <!-- CSS FILES -->        
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link rel="icon" href="/static/images/logo.png">

        <link href="/static/css/bootstrap-icons.css" rel="stylesheet">

        <link href="/static/css/templatemo-kind-heart-charity.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/style.css">
<!--

TemplateMo 581 Kind Heart Charity

https://templatemo.com/tm-581-kind-heart-charity

-->

    </head>
    
    <body id="section_1">

        <nav class="navbar navbar-expand-lg bg-light shadow-lg navbar2">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="/static/images/log.png" style="border-radius: 50%;" class="logo img-fluid" alt="Kind Heart Charity">
                    <span>
                        Cheerful Chirp Platform
                        <small>Donation Organization</small>
                    </span>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">About</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'news' %}">News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'signout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'signin' %}">Login</a>
                        </li>
                        {% endif %}

                        <li class="nav-item ms-3">
                            <a class="nav-link custom-btn custom-border-btn btn" href="{% url 'register' %}">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        
        {% block content %}

        {%  endblock %}

        

        <!-- JAVASCRIPT FILES -->
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/jquery.sticky.js"></script>
        <!-- <script src="/static/js.js"></script> -->
        <script src="/static/js/counter.js"></script>
        <script src="/static/js/custom.js"></script>

    </body>
</html>