<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h3{
            color: brown;
        }
        p{
            color: #555;
        }
    </style>
</head>
<body>
    <h1>Name: <span style="font-size: 15px;">{{name}}</span></h1>
  <h3>You are receiving this message from <strong style="text-decoration: none;">{{email}}</strong></h3>
   <p>{{message}}</p>
  </body>
</html>